/*
Theme Name: BlankSlate Child
Theme URI: https://localhost:8080/planty
Template: blankslate
Author: Marie
Author URI: http://localhost:8080/planty/
Description: Vente de boisson, commerce
Tags: boisson, vente

*/

/* ==== Header ==== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  max-width: 100%;
  width: 150px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

header nav a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
/* ==== Bouton commander ==== */
button {
  background-color: #dc9f96;
  color: white !important;
  border: none;
  padding: 14px 22px;
  font-weight: 700;
}