/*
Theme Name: BlankSlate Child
Theme URI: https://localhost:8080/planty
Template: blankslate
Author: Marie
Author URI: http://localhost:8080/planty/
Description: Vente de boisson, commerce
Tags: boisson, vente

*/

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  overflow: hidden; /* évite le scroll horizontal si une feuille déborde */
}

/* ==== Header ==== */
header {
  display: flex;
  justify-content: space-between;
  color: #ffff !important;
}

.logo img {
  max-width: 100%;
  width: 150px;
  height: auto;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

header nav a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  transition: 0.5s;
}

header nav a:hover {
  color: #dc9f96;
}

/* ==== Bouton commander ==== */
button {
  background-color: #dc9f96;
  color: white !important;
  border: none;
  padding: 14px 22px;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: #3b8e46;
}
/* ====Media Query ==== */
@media screen and (min-width: 320px){
  header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

nav {
  display: flex;
  flex-wrap: wrap;          /* permet de passer à la ligne si ça ne tient pas */
  justify-content: center;
  gap: 16px;
}

}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    justify-content: flex-end;
    gap: 28px;
  }
}


/* ==== Section 1 ==== */

h1 {
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  margin: 20px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ece2da;
  clip-path: ellipse(150% 100% at top); /* bord courbé*/
}
.can-leaf .wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaf-right,
.leaf-left {
  
  position: absolute;
  z-index: 1; /* Derrière la canette */
}
/* Position de la feuille de gauche */
.leaf-left {
  left: 50%;
  transform: translate(-15px); /* décale vers la gauche*/
}
/* Position de la feuille de droite */
.leaf-right {
  left: 50%;
  transform: translate(-360px); /* décale vers la droite*/
}
/* La canette en premier-plan */
.can {
  z-index: 2;
}
/* ==== Media Query ==== */
@media ( max-width: 767px) { /* sur tablette */
  .leaf-right,
  .leaf-left {
  display:none ; /* option la plus stable pour 320px */
  
  }

  h1 {
    font-size: 28px;
    margin: 16px;
    text-align: center;
  }

  .hero {
    clip-path: ellipse(220% 100% at top);
    padding: 30px 0;
  }
}


/* ==== Section 2 ==== */


/* ==== Section 3 ==== */

.gallery-gouts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1000px;
  clip-path: ellipse(180% 100% at top); /* bord courbé*/
}
h2 {
  text-align: center;
  font-family: "Syne", sans-serif;
  font-size: 25px;
  font-weight: 800;
  padding: 30px;
}

.p-text {
  text-align: center;
  font-family: "Syne", sans-serif;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px;
}

.btn-cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  cursor: pointer;
}

.btn:hover {
  color: #3b8e46;
}

/* ==== Media Query ==== */
/* Mobile */
@media (max-width: 767px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery-gouts {
    height: auto;      /* évite une hauteur fixe énorme sur mobile */
    padding-bottom: 40px;
    clip-path: ellipse(280% 100% at top);
    padding: 50px ;
  }

  h2 {
    font-size: 20px;
    padding: 20px;
  }
}






/* ==== Section 4 ==== */

.advices h2 {
  color: #3b8e46;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.advices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}

.comment-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
/* ==== Media Query ==== */




/* ==== Footer ==== */
footer p {
  text-align: center;
}

/* ==== Media Query ==== */

